TCB
  TYPE    4 # TCB_V1(0), TCB_V2(2), TCB_COSINE(4) 
  CW	    64
  TRGON	  3
  PTRIG	  10
  MTHRF	  2     # multiplicity for FADC
  PSCF	  1     # prescale for FADC
  DTF     1000  # deadtime for FADC    
  MTHRSM	2     # multiplicity for M64ADC (muon)
  PSCSM	  1     # prescale for M64ADC (muon)
  DTSM    1000  # deadtime for M64ADC (muon)
  MTHRSL	2     # multiplicity for M64ADC (LS)
  PSCSL	  1     # prescale for M64ADC (LS)
  DTSL    1000  # deadtime for M64ADC (LS)
END
