TCB
  TYPE    0
  CW	  64
  PTRIG	  10
  MTHRF	  38
  PSCF	  1
  TRGON	  3
END

STRG
  ENABLED  1
  ADCTYPE  1 # 1:FADC
  IPAR1    1 # trigger mode, 1:zero suppression 2:qsum trigger 4:prescale
  IPAR2    10 # qsum threshold for qsum trigger
  IPAR3    10 # prescale rate (1/IPAR3)
END

FADCT  1  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   1 2 3 4
  TRGON	   1
  DACOFF   3700
  DLY	   160
  CW	   64
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   85
  TLT	   1x2x3x4
  RL	   16
END

FADCT  2  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   5 6 7 8
  TRGON	   1
  DACOFF   3700
  DLY	   160
  CW	   64
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   85
  TLT	   1x2x3x4
  RL	   16
END
