MADCS  1  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   1 2 3 4
  TRGON	   1        # global trigger: normal(1), random(2), external(4)
  PTRG	   1     # random trigger rate (1/ PTRG ms)
  PSC	   1        # prescale 
  POL	   0	    # signal polarity: negative(0), positive(1)
  DACOFF   3900    # pedestal offset
  DLY	   500      # signal delay
  CW	   64       # local trigger coincidence width
  TM	   1        # self trigger mode: pulse count(1), pulse width(2), pulse sum (4)
  PCT	   1        # number of pulse for pulse counter trigger
  PCI	   1000     # pulse count interval
  THR	   85       # threshold
  TLT	   1+2+3+4  # trigger lookup table
  RL	   256        # record length (128*RL ns)
END

STRG
  ENABLED  1
  ADCTYPE  3 # 1:MADC
  IPAR1    1 # trigger mode, 1:zero suppression 2:qsum trigger 4:prescale
  IPAR2    10 # qsum threshold for qsum trigger
  IPAR3    10 # prescale rate (1/IPAR3)
END