FADCT:
  - SID: 1
    NCH: 4
    ENABLED: 1
    CID: [1, 2, 3, 4]
    PID: [1, 2, 3, 4]
    TRGON: 1
    DACOFF: 3700
    DLY: 160
    CW: 64
    TM: 1
    PCT: 1
    PCI: 1000
    THR: 85
    TLT: "1x2x3x4"
    RL: 16
    DAQID: 1

  - SID: 2
    NCH: 4
    ENABLED: 1
    CID: [1, 2, 3, 4]
    PID: [5, 6, 7, 8]
    TRGON: 1
    DACOFF: 3700
    DLY: 160
    CW: 64
    TM: 1
    PCT: 1
    PCI: 1000
    THR: 85
    TLT: "1x2x3x4"
    RL: 16
    DAQID: 1