TCB
  TYPE    2		# TCB_V2
  CW      128
  DLY     0
  TRGON   3
  PTRIG   10
  MTHRF   10 # F: FADC (MTHR:multiplicity, PSC:prescale, DT:deat time, TRG:trigger switch)
  PSCF    1
  DTF     0
  MTHRSM  10 # SM: M64ADC for muon (for cosine)
  PSCSM   1
  DTSM    0
  MTHRSL  10 # SL: M64ADC for LS (for cosine)
  PSCSL   1
  DTSL    0    
  MTHRI   4  # I: SiPM ADC
  PSCI    1
  DTI     0
  TRGF     1 0 0 0 
  TRGSM    0 0 0 0
  TRGSL    0 0 0 0    
  TRGI     0 0 0 1  
END

# trigger switch usage
#
# Each trigger path (TRGF, TRGSM, TRGSL, TRGI) has 4 switches (F, SM, SL, I)
#
#       |  F   SM   SL   I
# ------|-------------------
# TRGF  |  1    0   0    0    (trun on FADC and off for others)
# ------|-------------------
# TRGSM |  0    1   0    0    (trun on muon M64ADC of Muon and off for others)
# ------|-------------------
# TRGSL |  1    1   0    0    (passive LS M64ADC trigger when FADC or Muon M64ADC fired)
# ------|-------------------
# TRGI  |  0    0   0    0    (not using this trigger path)
#